[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
sphinx = "*"

[packages]
pluggy = "*"
photon-pump = "*"
pymodm = "*"
cryptography = "*"
python-dotenv = "*"
docker = "*"
loguru = "*"
python-crontab = "*"
croniter = "*"
gitpython = "*"
yapsy = "*"
configobj = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
